
table {
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #000000;
}

tr:nth-child(even){background-color: #2d7ebc;}
tr:nth-child(odd){background-color: #aecce2;}